# EDA _ Eventos Culturales Medellín

## Paso 1: Identificación del actual Data Set:

In [1]:
import pandas as pd

eventos_df = pd.read_csv('./datos_eventos_01.csv')
eventos_df.info()
eventos_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Evento                 500 non-null    object
 1   Nombre_Evento             500 non-null    object
 2   Lugar                     500 non-null    object
 3   Categoria                 500 non-null    object
 4   Fecha                     500 non-null    object
 5   Estrato_Zona              500 non-null    int64
 6   Asistentes_Esperados      500 non-null    int64
 7   Capacidad_Sillas          500 non-null    int64
 8   Poblacion_Impactada_Est   500 non-null    int64
 9   Costo_Entrada_COP         500 non-null    int64
 10  Temperatura_C             500 non-null    float64
 11  Humedad_Pct               500 non-null    float64
 12  Presupuesto_Mkt_COP       500 non-null    int64
 13  Aumento_Anual_Ventas_Pct  500 non-null    float64
 14  Satisfaccion_Historica    500 non-null    int64
 15  Precio_Reventa_COP        500 non-null    float64
dtypes: float64(4), int64(7), object(5)
memory usage: 62.6+ KB

,ID_Evento,Nombre_Evento,Lugar,Categoria,Fecha,Estrato_Zona,Asistentes_Esperados,Capacidad_Sillas,Poblacion_Impactada_Est,Costo_Entrada_COP,Temperatura_C,Humedad_Pct,Presupuesto_Mkt_COP,Aumento_Anual_Ventas_Pct,Satisfaccion_Historica,Precio_Reventa_COP
0,MED-001,Altavoz Fest,Plaza Mayor,Teatro,2025-07-19,2,14486,5632,4332,450000,20.1,85.1,47712196,-5.91,3,996860.0
1,MED-002,Medellín Gourmet,Estadio Atanasio Girardot,Teatro,2025-05-09,5,2825,563,59073,25000,22.8,78.7,15492692,8.57,2,69396.0
2,MED-003,Colombiamoda,Teatro Metropolitano,Moda,2025-10-29,5,7726,5175,62845,80000,30.7,80.5,11346137,16.56,4,163737.0
3,MED-004,Colombiamoda,Plaza Mayor,Música,2025-11-28,5,13785,8750,5371,0,18.2,81.0,61557691,28.89,3,0.0
4,MED-005,Desfile de Silleteros,Estadio Atanasio Girardot,Teatro,2025-08-30,1,1568,745,79514,80000,23.7,90.7,3519735,26.97,4,149186.0

## Paso 2: Declaración correcta de los tipos de datos.
Debido a que se evidenció que algunos datos, como el estrato, no fueron reconocidos de forma correcta, hemos 
efectuado algunos ajustes en cuanto a los tipos de datos.

In [2]:
eventos_df_copy = eventos_df.copy()

eventos_df_copy['Lugar'] = eventos_df_copy['Lugar'].astype('category')
eventos_df_copy['Estrato_Zona'] = eventos_df_copy['Estrato_Zona'].astype('category')
eventos_df_copy['Categoria'] = eventos_df_copy['Categoria'].astype('category')
eventos_df_copy['Fecha'] = pd.to_datetime(eventos_df_copy['Fecha'])
eventos_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Evento                 500 non-null    object
 1   Nombre_Evento             500 non-null    object
 2   Lugar                     500 non-null    category
 3   Categoria                 500 non-null    category
 4   Fecha                     500 non-null    datetime64[ns]
 5   Estrato_Zona              500 non-null    category
 6   Asistentes_Esperados      500 non-null    int64
 7   Capacidad_Sillas          500 non-null    int64
 8   Poblacion_Impactada_Est   500 non-null    int64
 9   Costo_Entrada_COP         500 non-null    int64
 10  Temperatura_C             500 non-null    float64
 11  Humedad_Pct               500 non-null    float64
 12  Presupuesto_Mkt_COP       500 non-null    int64
 13  Aumento_Anual_Ventas_Pct  500 non-null    float64
 14  Satisfaccion_Historica    500 non-null    int64
 15  Precio_Reventa_COP        500 non-null    float64
dtypes: category(3), datetime64[ns](1), float64(4), int64(6), object(2)
memory usage: 53.2+ KB

In [4]:
# Returns True if there are any duplicates in 'column_name'
has_duplicates = eventos_df_copy['ID_Evento'].duplicated().any()
print(has_duplicates)

False

In [5]:
print(eventos_df_copy[eventos_df_copy['Asistentes_Esperados'] > eventos_df_copy['Capacidad_Sillas']])

    ID_Evento          Nombre_Evento                      Lugar  \
0     MED-001           Altavoz Fest                Plaza Mayor
1     MED-002       Medellín Gourmet  Estadio Atanasio Girardot
2     MED-003           Colombiamoda       Teatro Metropolitano
3     MED-004           Colombiamoda                Plaza Mayor
4     MED-005  Desfile de Silleteros  Estadio Atanasio Girardot
..        ...                    ...                        ...
488   MED-489    Feria de las Flores             Parque Explora
492   MED-493    Feria de las Flores            Jardín Botánico
494   MED-495  Desfile de Silleteros         Teatro Pablo Tobón
496   MED-497     Festival de Poesía       Parque de los Deseos
497   MED-498  Concierto Filarmónica                Plaza Mayor

           Categoria      Fecha Estrato_Zona  Asistentes_Esperados  \
0             Teatro 2025-07-19            2                 14486
1             Teatro 2025-05-09            5                  2825
2               Moda 2025-10-29            5                  7726
3             Música 2025-11-28            5                 13785
4             Teatro 2025-08-30            1                  1568
..               ...        ...          ...                   ...
488      Gastronomía 2025-03-07            2                  9386
492      Gastronomía 2025-02-21            6                 13755
494      Gastronomía 2025-08-03            6                 10210
496             Moda 2025-07-08            5                  3450
497  Artes Plásticas 2025-10-13            4                 12665

     Capacidad_Sillas  Poblacion_Impactada_Est  Costo_Entrada_COP  \
0                5632                     4332             450000
1                 563                    59073              25000
2                5175                    62845              80000
3                8750                     5371                  0
4                 745                    79514              80000
..                ...                      ...                ...
488              8888                    50682             150000
492              3234                    27647              25000
494              3642                    44738              80000
496              2632                    66920              25000
497              9679                    99163                  0

     Temperatura_C  Humedad_Pct  Presupuesto_Mkt_COP  \
0             20.1         85.1             47712196
1             22.8         78.7             15492692
2             30.7         80.5             11346137
3             18.2         81.0             61557691
4             23.7         90.7              3519735
..             ...          ...                  ...
488           28.3         76.9             70168622
492           22.7         47.2             43942127
494           21.9         58.9             11442080
496           30.3         54.2             26032836
497           17.8         68.6              3697479

     Aumento_Anual_Ventas_Pct  Satisfaccion_Historica  Precio_Reventa_COP
0                       -5.91                       3            996860.0
1                        8.57                       2             69396.0
2                       16.56                       4            163737.0
3                       28.89                       3                 0.0
4                       26.97                       4            149186.0
..                        ...                     ...                 ...
488                     27.51                       4            217012.0
492                      4.32                       2             72176.0
494                     24.11                       1            165089.0
496                     18.08                       3             41552.0
497                     20.69                       4                 0.0

[257 rows x 16 columns]